.snapshot-span {
    padding-left: 10px;

}
.snapshot-label{
	font-size:0.85em;
}

.snapshot_canvas{
	padding:0px 20px 0px 20px;
}

.AC-Primary{
	padding-left:0px !important;
}

.tac_text ul li{
	font-size:0.85em;
}